* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#video_background {
  position: absolute;
  bottom: 0px;
  right: 0px;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1000;
  overflow: hidden;
  background-position: center center;
  background-size: cover;
}
